*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-size: 16;
}

body{
    background-color: #f5f5f5;
    font-family: "Poppins", serif;
}
.header{
    background-color: #333;
    display:flex;
    color: #fff;
    padding: 10px 0;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    padding-bottom: 40px;
}
.headerTitle{
    color:white;
    font-size: 350%;
    font-weight: 600;
}

.headerButton{
    background: transparent;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 150%;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
    letter-spacing: 2px;
}
.headerButton:hover{
    background: #fff;
    color: #333;
    cursor: pointer;
}
.mainNav{
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.8s ease;
}
.mainNavList {
    list-style: none;
}
.mainNavListItem {
    color: white;
    font-size: 200%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
.mainNavListItem > a {
    color: white;
    text-decoration: none;
}
.bigFigure{
    width: 100%;
    height: 90vh;
}
.bigFigure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section{
    background: #F9F9F9;
}
.collections{
    width: 99vw;
    margin: 0 auto;
    padding: 15px;
}
.collectionsTitle, .InfoTitle{
    font-size: 450%;
    color: black;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 30px;
    margin-left: 50px; 
}
.collectionsList{
    list-style: none;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center; 
}
.collectionsItem{
    width: 500px;
    height: 700px;
    background: black;
    flex-shrink: 0;
}
.collectionsItem > img{
    width: 100%;
    height: 100%;
}
.info{
    display: flex;
    /* justify-content: space-between; */
    padding: 40px;
    background: #D3D3D3;
    color: black;
    flex-wrap: wrap;
}
.info > h2{
    font-size: 450%;
    margin-left: 30px;
    text-transform: uppercase;
}
.InfoTitle2{
    font-size: 450%;
    color: black;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 30px;
    margin-left: 50px;
}
.info > p{
    width: 5ch;
    font-size: 150%;
    margin-left: 30px;
    margin-top: 20px;
}
.block {
    width: 400px;
    flex-shrink: 1;
    flex-grow: 1;
}
.footer {
    height: 60px;
    position: relative;
    align-items: center;
    background-color: black;
}
.footerButton {
    position: absolute;
    width: 3%;
    margin-left: 830px;
    border: 0;
}
.footerButton2 {
    position: absolute;
    width: 3%;
    margin-top: 10px;
    margin-left: 700px;
    border: 0;
}
@media screen and (max-width: 1000px) {
    .headerTitle{
        font-size: 200%;
    }
    article {
        width: 60vw;
    }

    footer > p {
        width: 80vw;
    }

    img:hover {
        transform: none;
    }

    nav {
        width: 100%;
    }

    nav > ul {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .headerTitle{
        font-size: 200%;
    }
    .collectionsTitle{
        padding-left: 15px;
    }
}  